.modal {
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    z-index: 9999;
    position: fixed;
    align-items: center;
    justify-content: center;
    background: rgba(18, 18, 18, 0.85);
}

.form-card {
    width: 100%;
    max-width: 500px;
    border-radius: var(--border-radius);
    color: var(--dark-white);
    background-color: var(--foreground);
    padding: var(--padding);
}

.form-card label {
    display: block;
    margin-top: var(--margin);
    margin-bottom: var(--margin);
    font-weight: var(--font-500);
}

.form-card h2 {
    margin: 0 0 24px 0;
    font-size: 1.5rem;
    font-weight: var(--font-600);
}

.form-actions-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 24px;
    gap: var(--margin);
}
