.modal {
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    z-index: 9999;
    position: fixed;
    align-items: center;
    justify-content: center;
    background: rgba(18,18,18,0.85);
}

.form-card {
    width: 90%;
    max-width: 400px;
    box-sizing: border-box;
    color: var(--color-light);
    background-color: var(--secondary-bg-color);
    padding: var(--padding);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
}

.form-card input[type="text"],
.form-card input[type="url"] {
    width: 100%;
    padding: var(--padding); 
    margin-bottom: var(--margin);
    border: 1.5px solid var(--input-border);
    border-radius: var(--border-radius);
    background-color: var(--input-bg-color);
    color: var(--color-light);
    font-size: var(--font-size);
    transition: border-color 0.25s ease;
    box-sizing: border-box;
}

.form-card input[type="text"]:focus,
.form-card input[type="url"]:focus {
    outline: none;
    border-color: var(--input-border-focus);
    background-color: var(--input-bg-focus);
}

.form-card label {
    display: block;
    margin-bottom: var(--margin);
    font-weight: var(--font-bold);
}

.form-card h2 {
    margin-top: 0;
    margin-bottom: 32px;
}

.form-actions {
    display: flex;
    gap: var(--margin);
    margin-top: var(--margin);
    justify-content: flex-end;
    align-items: center;
}

.form-card button {
    border: none;
    min-width: 80px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-sizing: border-box;
    font-weight: var(--font-bold);
    background-color: var(--primary-color);
    color: var(--primary-bg-color);
    border-radius: var(--border-radius);
    padding: var(--padding);
    font-size: var(--font-size-md);
}

.form-card button:hover {
    background-color: var(--primary-color);
}

.form-card button[type="button"] {
    background-color: var(--primary-color);
}

.form-card button[type="button"]:hover {
    background-color: var(--secondary-color);
}

.form-card input.readonly-field {
    width: 100%;
    box-sizing: border-box;
    cursor: not-allowed;
    background-color: var(--secondary-bg-color);
    color: var(--input-text-disabled);
    border: 1.5px solid var(--input-border-disabled);
    padding: var(--padding);
    border-radius: var(--border-radius);
    font-size: var(--font-size-md);
}
