.search-wrapper {
    width: 85%;
    display: flex;
    position: relative;
    align-items: center;
}

.search-input {
    width: 100%;
    background-color: var(--primary-bg-color);
    border-radius: var(--border-radius);
    padding: var(--padding);
    font-size: var(--font-size-md);
    color: var(--color-light);
    border: 1.5px solid var(--input-border);
}

.search-input:placeholder {
    color: #666;
}

.search-input:focus {
    outline: none;
    border-color: var(--input-border-focus);
    background-color: var(--primary-bg-color);
}

.search-icon {
    color: #666;
    position: absolute;
    pointer-events: none;
    right: var(--margin);
    font-size: var(--font-size-md);
}
