.search-input {
    width: 100%;
    background-color: var(--background);
    border-radius: var(--border-radius);
    padding: var(--padding);
    font-size: var(--font-size-md);
    color: var(--dark-white);
    border: 1.5px solid var(--input-border);
}

.search-input:placeholder {
    color: #666;
}

.search-input:focus {
    outline: none;
    border-color: var(--input-border-focus);
    background-color: var(--primary-bg-color);
}
