:root {
    /* light colors */
    --background: #16171b;
    --foreground: #27272a;

    --white: rgba(255, 255, 255, 0.1);
    --green: rgba(74, 222, 128, 0.1);
    --blue: rgba(100, 181, 246, 0.1);
    --yellow: rgba(255, 174, 66, 0.1);
    --red: rgba(255, 107, 107, 0.1);

    /* dark colors*/
    --dark-white: #fff;
    --dark-green: #4ade80;
    --dark-blue: #64b5f6;
    --dark-yellow: #ffae42;
    --dark-red: #ff6b6b;

    --dark-background: #101114;
    --dark-foreground: #27272a;

    /* fonts */
    --font: "Roboto";
    --font-size-sm: 0.85rem;
    --font-size-md: 1rem;
    --font-500: 500;

    /* inputs */
    --input-background-color: var(--background);
    --input-border-focus: var(--dark-white);
    --input-border: #444;
    --input-border-disabled: #333;
    --input-text-disabled: #888;

    --padding: 10px;
    --margin: 10px;
    --border-radius: 8px;

    --hover-bg-color: #3a3a3a;
}

body {
    display: flex;
    font-family: var(--font);
    background-color: var(--background);
}

body,
html {
    margin: 0;
    padding: 0;
}

.content-container {
    display: flex;
    flex-direction: column;
    margin-left: 70px;
    margin-right: 10px;
    width: 100%;
}
