:root {
    --font: "Roboto", sans-serif;
    --font-size-sm: 12px;
    --font-size-md: 16px;
    --font-bold: 600;

    --primary-bg-color: #121212;
    --secondary-bg-color: #1f1f1f;
    --color-light: #e0e0e0;

    --primary-color: #64b5f6;
    --secondary-color: #ef5250;

    --hover-bg-color: #3a3a3a;

    --input-bg-color: #121212;
    --input-bg-focus: #181818;
    --input-border: #444;
    --input-border-focus: var(--primary-button);
    --input-border-disabled: #333;
    --input-text-disabled: #888;

    --padding: 12px;
    --margin: 12px;
    --border-radius: 12px;

    --box-shadow: 0 3px 8px rgba(0, 0, 0, 0.7);
}

body {
    font-family: var(--font);
    background-color: var(--primary-bg-color);
}

.home-container {
    max-width: 900px;
    margin: 0 auto;
}
