.table {
    width: 100%;
    table-layout: fixed;
    border-spacing: 0;
    border-collapse: separate;
    overflow: hidden;
    margin-top: var(--margin);
    border-radius: var(--border-radius);
    font-size: var(--font-size-md);
    background-color: var(--secondary-bg-color);
    color: var(--color-light);
}

.table-head {
    color: var(--color-light);
    background-color: var(--primary-fg-color);
}

.table-row {
    border-radius: var(--border-radius);
    transition: background 0.25s ease;
}

.table-row:hover {
    background: #222;
}

.th-left {
    text-align: left;
    padding: var(--padding);
}

.td-right {
    text-align: right;
    padding: var(--padding);
}

.td-left {
    text-align: left;
    padding: var(--padding);
}
