.links-table {
    width: 100%;
    border-spacing: 0;
    border-collapse: separate;
    overflow: hidden;
    margin-top: var(--margin);
    border-radius: var(--border-radius);
    font-size: var(--font-size-md);
    background-color: var(--primary-bg-color);
    color: var(--color-light);
    box-shadow: var(--box-shadow);
}

.links-table-head {
    color: var(--color-light);
    background-color: var(--secondary-bg-color);
}

.th-left {
    text-align: left;
    padding: var(--padding);
}

.th-right {
    text-align: right;
    padding: var(--padding);
}

.links-table-row {
    border-radius: var(--border-radius);
    transition: background 0.25s ease;
}

.links-table-row:hover {
    background: #222;
}

.td-right {
    text-align: right;
    padding: var(--padding);
}

.td-left {
    text-align: left;
    padding: var(--padding);
}

.btn-edit {
    color: var(--primary-color);
    margin-right: var(--margin);
    background: none;
    border: none;
    cursor: pointer;
    vertical-align: middle;
    padding: var(--padding);
    border-radius: var(--border-radius);
    margin-right: var(--margin);
    transition: background 0.25s ease;
}

.btn-delete {
    color: var(--secondary-color);
    margin-right: var(--margin);
    background: none;
    border: none;
    cursor: pointer;
    vertical-align: middle;
    padding: var(--padding);
    border-radius: var(--border-radius);
    margin-right: var(--margin);
    transition: background 0.25s ease;
}
