.toolbar,
.pagination-toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--secondary-bg-color);
    border-radius: var(--border-radius);
    padding: var(--padding);
    margin-top: var(--margin);
    margin-bottom: var(--margin);
    box-shadow: var(--box-shadow); 
}
