.toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--foreground);
    padding: var(--padding);
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: var(--border-radius);
}

.toolbar-actions {
    margin-left: var(--margin);
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
}
