<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Go Links</title>

        <script src="/assets/js/htmx.min.js"></script>
        <script src="/assets/js/htmx-ex-response-targets.js"></script>
        <link href="/assets/fonts/roboto.woff2" rel="stylesheet" />

        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css"
        />

        <link rel="stylesheet" href="/assets/css/styles.css" />
        <link rel="stylesheet" href="/assets/css/form.css" />
        <link rel="stylesheet" href="/assets/css/table.css" />
        <link rel="stylesheet" href="/assets/css/search.css" />
        <link rel="stylesheet" href="/assets/css/toolbar.css" />
        <link rel="stylesheet" href="/assets/css/button.css" />
    </head>

    <body hx-ext="response-targets">
        <div class="home-container">
            <!-- Toolbar Container-->
            <div class="toolbar">
                <div class="search-container">
                    <input
                        type="search"
                        name="search"
                        id="search-links"
                        class="search-input"
                        placeholder="Search..."
                        hx-get="/components/table"
                        hx-target="#links-table"
                        hx-trigger="keyup changed delay:125ms"
                    />
                </div>

                <button
                    class="button-add-link"
                    aria-label="Create new link"
                    type="button"
                    title="Add new link"
                    hx-get="/components/form/create"
                    hx-target="#modal"
                    hx-swap="innerHTML"
                >
                    <i class="bi bi-plus-circle"></i> Add Link
                </button>
            </div>

            <!-- Table Container-->
            <div
                id="links-table"
                hx-get="/components/table?page=0&pageSize=5"
                hx-trigger="load"
                hx-swap="innerHTML"
            ></div>

            <!-- Form container -->
            <div id="modal"></div>
        </div>
    </body>
</html>
