<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Go Links</title>

        <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.5/dist/htmx.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/htmx-ext-response-targets@2.0.2"></script>

        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css"
        />
        <link
            href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
            rel="stylesheet"
        />

        <link rel="stylesheet" href="/assets/css/styles.css" />
        <link rel="stylesheet" href="/assets/css/form.css" />
        <link rel="stylesheet" href="/assets/css/table.css" />
        <link rel="stylesheet" href="/assets/css/search.css" />
        <link rel="stylesheet" href="/assets/css/toolbar.css" />
    </head>

    <body hx-ext="response-targets">
        <div id="wrapper">
            <div class="toolbar">
                <div class="search-wrapper">
                    <input
                        type="search"
                        name="search"
                        placeholder="Search..."
                        id="search-links"
                        autocomplete="off"
                        class="search-input"
                        hx-get="/components/table"
                        hx-target="#links-table"
                        hx-params="serialize"
                    />
                    <i class="bi bi-search search-icon"></i>
                </div>

                <button
                    class="button-primary"
                    aria-label="Create new link"
                    type="button"
                    title="Add new link"
                    hx-get="/components/form/create"
                    hx-target="#modal"
                    hx-swap="innerHTML"
                >
                    <i class="bi bi-plus-circle button-icon"></i> Add Link
                </button>
            </div>

            <!-- Table Container-->
            <div
                id="links-table"
                hx-get="/components/table?page=0&pageSize=5"
                hx-trigger="load"
                hx-swap="innerHTML"
            ></div>

            <!-- Form container -->
            <div id="modal"></div>
        </div>
    </body>
</html>
