<table
    class="table"
    hx-get="/components/table/tags?page={{ .Page.Current }}&pageSize={{ .Page.Size }}"
    hx-trigger="refresh from:body"
    hx-target="#table-logs"
    hx-swap="innerHTML"
>
    <thead class="table-head">
        <tr>
            <th style="width: 200px;" scope="col" class="th-left">
                <span><i class="bi bi-link-45deg"></i>&nbsp;Name</span>
            </th>
        </tr>
    </thead>

    {{ range .Tags }}
        <tbody>
            <tr class="table-row">
                <td style="width: 200px; word-wrap: break-word;" class="td-left">
                    {{ .Name }}
                </td>
            </tr>
        </tbody>
    {{ end }}
</table>

<div class="toolbar-container">
    <div style="margin-left: auto; display: flex; gap: 0.5rem">
        <div class="button-pagination-page-tracker">
            {{ .Results.Start }}-{{ .Results.End }} of
            {{ .Results.Total }}
        </div>

        <button
            class="button-pagination"
            hx-get="/components/table/tags?page={{ .Page.Previous }}&pageSize={{ .Page.Size }}"
            {{ if eq .Page.Current 0 }}disabled{{ end }}
            hx-target="#table-logs"
            hx-swap="innerHTML"
            aria-label="Previous Page"
            type="button"
            title="Previous"
        >
            <i class="bi bi-chevron-left"></i>
        </button>

        <button
            class="button-pagination"
            hx-get="/components/table/tags?page={{ .Page.Next }}&pageSize={{ .Page.Size }}"
            {{ if eq .Results.End .Results.Total }}disabled{{ end }}
            hx-target="#table-logs"
            hx-swap="innerHTML"
            aria-label="Next Page"
            type="button"
            title="Next"
        >
            <i class="bi bi-chevron-right"></i>
        </button>
    </div>
</div>
