<table
    class="table"
    hx-get="/components/table/links?page={{ .Page.Current }}&pageSize={{ .Page.Size }}"
    hx-trigger="refresh from:body"
    hx-target="#table-links"
    hx-swap="innerHTML"
>
    <thead class="table-head">
        <tr>
            <th style="width: 25%;" scope="col" class="th-left">
                <div>
                    <i class="bi bi-link-45deg"></i>
                    Short URL
                </div>
            </th>
            <th style="width: 40%;" scope="col" class="th-left">
                <div>
                    <i class="bi bi-link-45deg"></i>
                    Long URL
                </div>
            </th>
            <th style="width: 1%;" scope="col" class="th-left">
                <div>
                    <i class="bi bi-person"></i>
                    Visits
                </div>
            </th>
            <th style="width: 10%;" scope="col" class="th-left">
                <div>
                    <i class="bi bi-calendar"></i>
                    Updated
                </div>
            </th>
            <th style="width: 1%;" scope="col" class="th-left">
                <div>
                    <i class="bi bi-gear"></i>
                    Action
                </div>
            </th>
        </tr>
    </thead>

    {{ range .Links }}
        <tbody>
            <tr class="table-row">
                <td style="width: 38%; word-wrap: break-word;" class="td-left">
                    {{ .ShortURL }}
                </td>
                <td style="width: 50%; word-wrap: break-word;" class="td-left">
                    {{ .LongURL }}
                </td>
                <td style="width: 1%;" class="td-left">{{ .Visits }}</td>
                <td style="width: 10%;" class="td-left">{{ .LastUpdated | formatDate }}</td>
                <td style="width: 1%;" class="td-right">
                    <button
                        hx-get="/components/modal/update/{{ .ShortURL }}"
                        hx-target="#modal"
                        hx-swap="innerHTML"
                        aria-label="Update link {{ .ShortURL }}"
                        class="button-row-edit"
                    >
                        <i class="bi bi-pencil"></i>
                    </button>

                    <button
                        hx-get="/components/modal/delete/{{ .ShortURL }}"
                        hx-target="#modal"
                        hx-swap="innerHTML"
                        aria-label="Delete link {{ .ShortURL }}"
                        class="button-row-delete"
                    >
                        <i class="bi bi-trash"></i>
                    </button>
                </td>
            </tr>
        </tbody>
    {{ end }}
</table>

<div class="toolbar">
    <div style="margin-left: auto; display: flex; gap: 0.5rem">
        <div class="button-pagination-page-tracker">
            {{ .Results.Start }}-{{ .Results.End }} of
            {{ .Results.Total }}
        </div>

        <button
            class="button-pagination"
            hx-get="/components/table/links?page={{ .Page.Previous }}&pageSize={{ .Page.Size }}"
            {{ if eq .Page.Current 0 }}disabled{{ end }}
            hx-target="#table-links"
            hx-swap="innerHTML"
            aria-label="Previous Page"
            type="button"
            title="Previous"
        >
            <i class="bi bi-chevron-left"></i>
        </button>

        <button
            class="button-pagination"
            hx-get="/components/table/links?page={{ .Page.Next }}&pageSize={{ .Page.Size }}"
            {{ if eq .Results.End .Results.Total }}disabled{{ end }}
            hx-target="#table-links"
            hx-swap="innerHTML"
            aria-label="Next Page"
            type="button"
            title="Next"
        >
            <i class="bi bi-chevron-right"></i>
        </button>
    </div>
</div>
