<div>
    <div class="toolbar">
        <input
            type="search"
            name="search"
            class="search-input"
            placeholder="Search links..."
            hx-get="/components/table/links"
            hx-target="#table-links"
            hx-trigger="keyup changed delay:125ms"
        />
        <div class="toolbar-actions">
            <button
                class="button-icon"
                type="button"
                hx-get="/components/modal/create"
                hx-target="#modal"
                hx-swap="innerHTML"
            >
                <i class="bi bi-plus-lg"></i>
            </button>
            <button class="button-icon" type="button">
                <i class="bi bi-download"></i>
            </button>
        </div>
    </div>

    <div
        id="table-links"
        hx-get="/components/table/links"
        hx-target="#table-links"
        hx-trigger="load"
        hx-swap="innerHTML"
    ></div>

    <div id="modal"></div>
</div>
