<div>
    <div class="toolbar">
        <input
            type="search"
            name="search"
            class="search-input"
            placeholder="Search logs..."
            hx-get="/components/table/audit"
            hx-target="#table-audit"
            hx-trigger="keyup changed delay:125ms"
        />
        <div class="toolbar-actions">
            <button class="button-icon" type="button">
                <i class="bi bi-download"></i>
            </button>
        </div>
    </div>

    <div
        id="table-audit"
        hx-get="/components/table/audit"
        hx-target="#table-audit"
        hx-trigger="load"
        hx-swap="innerHTML"
    ></div>
</div>
